.gchart-widget(ng-controller='GchartWidget')
    h1.title(ng-if='::widget.title') {{ widgetTitle() }}
    .widget-body
        .widget-error(ng-if='widgetContext.dataSourceError == true')
        div(ng-if='!widgetContext.dataSourceError && !widgetContext.loading',
            id='{{ randomId }}', google-chart, chart='myChartObject')
