.open-layers-map-widget(ng-controller='OpenLayersMapWidget')
    h1.title(ng-if='::widget.title') {{ widgetTitle() }}
    .widget-body
        .widget-error(ng-if='widgetContext.dataSourceError == true')
        .map(ng-if='widgetContext.dataSourceError == false', id='{{ randomId }}',
            map-config='mapConfig', layer-options='layerOptions', control-options='controlOptions',
            source-of-params='sourceOfParams', wms-sections='wmsSections', feature-params='featureParams',
            widget-id='widgetId', widget-name='widget.name', generic-event-handlers='genericEventHandlers')
            div(ng-repeat='ov in mapConfig.overlays track by ov.id', id='{{ ov.id }}', group='{{ ov.group }}',
                ng-class='ov.cssClass + " " + (mapConfig.groups[ov.group].currentOverlay === ov.id ? ov.cssClassSelected : "")')
