.open-layers-map-widget(ng-controller='OpenLayersMapWidget')
    h1.title(ng-if='::widget.title') {{ widgetTitle() }}
    .widget-body
        .widget-error(ng-if='widgetContext.dataSourceError == true')
        #map.map(ng-if='widgetContext.dataSourceError == false')
            div(ng-repeat='ov in overlays', id='{{ ov.id }}', group='{{ ov.group }}',
                ng-class='groups[ov.group].cssClass + " " + (groups[ov.group].currentOverlay === ov.id ? groups[ov.group].cssClassSelected : "")')