h3 Widget Container Widget
p
    | The Widget Container Widget allows to position other Widgets within itself as if it were 
    | a page inside the page, i.e., with its own grid layout and theme. Its configuration is similar 
    | to that of a regular Page.

p
    | In order to add widgets to the container, its 
    em Name
    |  property must be specified. 
    | Each widget has an optional 
    em Container
    |  property which holds the name of the Container widget 
    | that should contain it. If this property is specified, the widget will be added 
    | to the container instead of the Page and its dimensions will be determined by the container grid layout.

h4 Properties
p.
    These are the properties specific to this widget.  
    General Cyclotron widget properties are not repeated here (e.g. layout properties).

property-table(properties='config.widgets.widgetContainer.properties')

h4 Layout

property-table(properties='config.widgets.widgetContainer.properties.layout.properties')

h3 Examples

h4 Dashboard with widgets both inside and outside a container
pre.code.
    {
        "dataSources": [{
            "name": "some-links",
            "preload": true,
            "processor": "p = function () {\n    return [{\n        description: 'foo',\n        link: '/ex1',\n        name: 'foo',\n        type: 'Widget'\n    },{\n        description: 'bar',\n        link: '/ex2',\n        name: 'bar',\n        type: 'Widget'\n    }];\n}",
            "type": "javascript"
        }],
        "name": "example-widget-containers",
        "pages": [{
            "frequency": 1,
            "layout": {
                "gridColumns": 4,
                "gridRows": 4
            },
            "widgets": [{
                "gridHeight": 1,
                "gridWidth": 4,
                "numbers": [{
                    "number": "42"
                }],
                "orientation": "horizontal",
                "widget": "number"
            }, {
                "gridHeight": 2,
                "gridWidth": 1,
                "rules": {
                    "red": "${true}"
                },
                "tooltip": "Time To Stop",
                "widget": "stoplight"
            }, {
                "gridHeight": 3,
                "gridWidth": 3,
                "layout": {
                    "gridColumns": 2,
                    "gridRows": 4
                },
                "name": "Cont",
                "title": "Container",
                "widget": "widgetContainer"
            }, {
                "container": "Cont",
                "gridHeight": 1,
                "gridWidth": 1,
                "name": "contained-number",
                "numbers": [{
                    "number": "42"
                }],
                "orientation": "horizontal",
                "widget": "number"
            }, {
                "container": "Cont",
                "gridHeight": 1,
                "gridWidth": 1,
                "name": "contained-stoplight",
                "rules": {
                    "red": "${true}"
                },
                "tooltip": "Time To Stop",
                "widget": "stoplight"
            }, {
                "columns": [{
                    "label": "Name",
                    "link": "#{link}",
                    "name": "name"
                }, {
                    "label": "Description",
                    "name": "description"
                }, {
                    "name": "link"
                }, {
                    "name": "type"
                }],
                "container": "Cont",
                "dataSource": "some-links",
                "gridHeight": 2,
                "gridWidth": 2,
                "name": "contained-table",
                "widget": "table"
            }, {
                "columns": [{
                    "label": "Name",
                    "link": "#{link}",
                    "name": "name"
                }, {
                    "label": "Description",
                    "name": "description"
                }, {
                    "name": "link"
                }, {
                    "name": "type"
                }],
                "dataSource": "some-links",
                "gridHeight": 1,
                "gridWidth": 1,
                "widget": "table"
            }]
        }],
        "parameters": [],
        "sidebar": {
            "showDashboardSidebar": false
        },
        "theme": "light"
    }