//- var extraClass = {{ widget.orientation }} == 'vertical' ? 'vOrient' : 'hOrient'

.slider-widget(ng-controller='SliderWidget')
    h1.title(ng-if='::widget.title') {{ widgetTitle() }}

    .widget-body
        .widget-error(ng-if='widgetContext.dataSourceError == true')
        span.fa.player(ng-if='widget.player && widget.player.showPlayer', ng-class="{ 'fa-play-circle': !playing, 'fa-pause-circle': playing }", ng-click='playPause()')
        .slider(sliderconfig='sliderconfig', ng-model='currentSliderVal', startdatetime='startdatetime', timeunit='timeunit')